[MESSAGES CONTROL]
disable =
#   unsubscriptable-object, # Optional[T] does not work yet
#   comparison-with-itself, # The comparisson operators semantics are peculiar
#   unbalanced-tuple-unpacking # Expression.expr_mappings needs this
    invalid-name, # One letter names improve readability in short scopes
    fixme, # TODOs in code are not immediate concerns
    # TODO: The following are disabled but need to be addressed eventually
    missing-module-docstring,
    missing-class-docstring,
    too-many-locals,
    too-many-arguments,
    line-too-long,
    too-many-instance-attributes,
    missing-function-docstring,

[TYPECHECK]
ignored-modules = dadw
